// html {
//     background-color: red;
// }
.top {
    background: #f3e6dd;
    padding-top: 4em;
}
.bottom {
    .content {
        width: 85%;
        margin: auto;
    }
    border-top: 2px solid black;
}