.header {
    color: #402f1c;
    padding-top: 2em;
    font-size: 22px;
    text-align: center;
}
.hr {
    color: black;
    height: 100px;
}
.founders {
    div {
        img {
            height: 600px;
            border-radius: 100%;
        }
        text-align: center;
        padding-inline: 8em;
    }
    h2 {
        font-size: 32px;
    }
    p {
        line-height: 36px;
        font-size: 24px;
    }
    .special {
        p {
            line-height: 38px;
        }
        line-height: 46px;
    }
    align-items: center;
    justify-content: center;
    display: flex;
}
.members {
    div {
        img {
            height: 400px;
            border-radius: 100%;
        }
        h2 {
            font-size: 32px;
        }
        p {
            padding-inline: 4em;
            line-height: 36px;
            font-size: 22px;
        }
        align-items: center;
        display: inline-flex;
        text-align: center;
    }
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: auto;
}
.member {
    h2 {
        // padding: 0 !important;
        margin: 0 !important;
        padding-bottom: 0.4em;
    }
    p {
        padding: 0 !important;
    }
    display: flex;
    flex-direction: column;
}
@media (max-width: 1200px) {
    .founders {
        flex-direction: column;
    }
}