$accent-text: #0d4961;
$body-text: #402f1c;
$body-ff: 'Montserrat', sans-serif;

.footer {
    a {
      color: rgb(0, 0, 131);
      text-decoration: underline;
    }
    color: $body-text;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    border-top: 1px solid $accent-text;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:  Helvetica Neue, Helvetica;
  }
  @media (max-width: 500px) {
    .footer {
      font-family: $body-ff;
      font-size: 12px;
    }
  }