$accent-text: #0d4961;
$body-text: #402f1c;
$mission-bg: #dde1d7;
$stats-bg: #d0ddbc;
$splitvolunteer-bg: #d4bcdd;
$splitword-bg: #f1d8fa;
$donate-bg: #bdeafb;

.description {
    font-size: 32px;
}

.titlecontainer {
    .verticalcenter {
        .logo {
            width: 69%;
        }
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 30vh;
    }
    margin: auto;
    width: 90%;
    height: 100vh;
    text-align: center;
    top: 50%;
}
.missioncontainer {
    .mission {
        .missionimage {
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                max-width: 100%;
            }
            position: relative;
        }
        .missioncontent {
            h1 {
                font-size: 69px;
            }
            p {
                font-size: 22px;
            }
            padding-block: 10em;
            text-align: center;
            padding-inline: 2em;
        }
        margin: auto;
        width: 80%;
        display: flex;
    }
    background-color: $mission-bg !important;
    margin: auto;
}
.missioncontainer div:nth-child(1) {
    flex: 1;
}
.missioncontainer div:nth-child(2) {
    flex: 2;
}
    @media (max-width: 1400px) {
        .mission {
            .missionimage {
                img {
                    padding-top: 4em;
                    position: static !important;
                    display: flex;
                    align-items: center; 
                    justify-content: center; 
                    flex-direction: column;
                }
                flex: 1;
            }
            .missioncontent {
                padding-block: 4em !important;
            }
            flex-direction: column;
        }

        .stats {
            flex-direction: column;
        }
        .split {
            flex-direction: column;
        }
    }
.statscontainer {
    .stats {
        .books {
            p {
                font-size: 2em;
                text-align: center;
            }
            flex: 0.5;
            font-size: 28px;
            text-align: center;
            margin-block: auto;
        }
        .smstatcontainer {
            .volunteers {
                p {
                    font-size: 20px;
                }
                flex: 1;
                padding-block: 0.3em;
            }
            .impact {
                p {
                    font-size: 20px;
                }
                flex: 1;
                padding-block: 0.3em;
            }
            flex: 1;
            text-align: center;
            font-size: 28px;
            display: flex;
            flex-direction: column;
        }
        padding-block: 5em;
        display: flex;
        margin: auto;
        width: 80%;
    }
    background: $stats-bg;
}
.split {
    .becomevolunteercontainer {
        .becomevolunteer {
            h1 {
                font-size: 28px;
            }
            p {
                font-size: 20px;
            }
            text-align: center;
            margin: auto;
            width: 90%;
        }
        padding-block: 5em;
        padding-inline: 1em;
        background: $splitvolunteer-bg;
    }
    .spreadwordcontainer {
        .spreadword {
            h1 {
                font-size: 28px;
            }
            p {
                font-size: 20px;
            }
            text-align: center;
            margin: auto;
            width: 90%;
        }
        padding-block: 5em;
        padding-inline: 1em;
        background: $splitword-bg;
    }
    display: flex;
}
.donatecontainer {
    .donate {
        h1 {
            font-size: 36px;
        }
        p {
            font-size: 20px;
        }
        padding-block: 5em;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    background: $donate-bg;
}