@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$accent-text: #0d4961;
$body-text: #402f1c;
$background: #f1dbcb;
// $mission-bg: #dde1d7;
$mission-bg: #a2c2cf;
$stats-bg: #d0ddbc;
$splitvolunteer-bg: #d4bcdd;
$splitword-bg: #f1d8fa;
$donate-bg: #bdeafb;

$header-ff: 'Inknut Antiqua', serif;
$body-ff: 'Montserrat', sans-serif; 

.description {
    font-family: $body-ff;
    padding-top: 2em;
    font-size: 30px;
}

.button {
    background-color: #0d4961;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
.button:hover {
    background-color: #1887b3;
}

.titlecontainer {
    .verticalcenter {
        .logo {
            width: 69%;
        }
        margin: auto;
        padding-top: 20vh;
        padding-bottom: 30vh;
    }
    margin: auto;
    width: 90%;
    height: 100vh;
    text-align: center;
    top: 50%;
}
.missioncontainer {
    .mission {
        .missionimage {
            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                max-width: 100%;
            }
            position: relative;
        }
        .missioncontent {
            h1 {
                font-family: $header-ff;
                font-size: 64px;
            }
            p {
                font-family: $body-ff;
                line-height: 4rem;
                padding-inline: 4em;
                font-size: 28px;
            }
            margin: auto;
            text-align: center;
            padding-inline: 2em;
            z-index: 1;
            // color: white;
        }
        height: 100vh;
        margin: auto;
        width: 90%;
        display: flex;
    }
    margin: auto;
    // background: $mission-bg;
    // border-bottom: black solid 2px;
}
.missioncontainer div:nth-child(1) {
    flex: 1;
}
.missioncontainer div:nth-child(2) {
    flex: 2;
}
.statscontainer {
    .stats {
        .books {
            img {
                width: 100%;
            }
            p {
                font-family: $body-ff;
                font-size: 60px;
                text-align: center;
            }
            font-family: $header-ff;
            flex: 0.5;
            font-size: 36px;
            text-align: center;
            margin-block: auto;
        }
        .smstatcontainer {
            .volunteers {
                p {
                    font-family: $body-ff;
                    font-size: 50px;
                }
                flex: 1;
                padding-block: 0.3em;
            }
            .impact {
                p {
                    font-family: $body-ff;
                    font-size: 32px;
                }
                flex: 1;
                padding-block: 0.3em;
            }
            // border-left: $body-text 5px solid;
            border-left: rgba(0, 0, 0, 0.25) 5px solid;
            font-family: $header-ff;
            flex: 1;
            text-align: center;
            font-size: 36px;
            display: flex;
            flex-direction: column;
        }
        // height: 50vh;
        padding-block: 10em;
        display: flex;
        margin: auto;
        width: 100%;
        height: 100vh;
        background: rgba($color: $background, $alpha: 0.75);
        // filter: blur();
    }
    height: 100vh;
    background: url('/books1.jpg');
    background-size: cover;
    // filter: blur(10px);
    // background: $stats-bg;
    border-bottom: black solid 5px;
}
.split {
    .becomevolunteercontainer {
        .becomevolunteer {
            h1 {
                font-family: $header-ff;
                font-size: 46px;
            }
            p {
                font-family: $body-ff;
                font-size: 30px;
            }
            text-align: center;
            margin: auto;
            width: 90%;
        }
        padding-block: 10em;
        padding-inline: 1em;
        background: rgba($color: $background, $alpha: 0.75);
        // background: $stats-bg;
        // background: $splitvolunteer-bg;
    }
    .spreadwordcontainer {
        .spreadword {
            .icons i {
                padding-inline: 2em;
            }
            h1 {
                font-family: $header-ff;
                font-size: 46px;
            }
            p {
                font-family: $body-ff;
                font-size: 30px;
            }
            text-align: center;
            margin: auto;
            width: 90%;
        }
        padding-block: 10em;
        padding-inline: 1em;
        background: rgba($color: $background, $alpha: 0.75);
        // background: $stats-bg;
        // background: $splitword-bg;
    }
    // height: 50vh;
    background: url('/volunteer.jpg');
    background-size: cover;
    display: flex;
    // border-bottom: black solid 2px;
}
.donatecontainer {
    .donate {
        h1 {
            font-family: $header-ff;
            font-size: 42px;
        }
        p {
            font-family: $body-ff;
            font-size: 26px;
        }
        padding-block: 10em;
        text-align: center;
        width: 80%;
        margin: auto;
    }
    // background: $donate-bg;
}

@media (max-width: 1400px) {
    .mission {
        .missionimage {
            img {
                padding-top: 4em;
                position: static !important;
                display: flex;
                align-items: center; 
                justify-content: center; 
                flex-direction: column;
            }
            flex: 1;
        }
        .missioncontent {
            p {
                padding-inline: 0.8em !important;
            }
            padding-inline: 0 !important;
            padding-block: 4em !important;
        }
        width: 100% !important;
        flex-direction: column;
    }

    .smstatcontainer {
        border-left: rgba(0, 0, 0, 0.0) 5px solid !important;
    }
    .stats {
        h1 {
            font-size: 26px;
        }
        p {
            font-size: 24px;
        }
        > * {
            > * {
                padding: 0 !important;
            }
            padding: 0 !important;
        }
        height: auto;
        padding: 4em !important;
        flex-direction: column;
    }
    .impact {
        p {
            font-size: 22px !important;
        }
    }
    .split {
        > * {
            padding: 0 !important;
        }
        padding: 0 !important;
        flex-direction: column;
    }
    .description {
        font-size: 24px;
    }
    .missioncontent {
        h1 {
            font-size: 30px !important;
        }
        p {
            font-size: 20px !important;
            line-height: 2rem !important;
        }
    }
    .becomevolunteer {
        h1 {
            font-size: 30px !important;
        }
        p {
            font-size: 24px !important;
        }
    }
    .spreadword {
        h1 {
            font-size: 30px !important;
        }
        p {
            font-size: 24px !important;
        }
    }
}