$body-ff: 'Montserrat', sans-serif; 

.header {
    padding-top: 1em;
    font-size: 32px;
    text-align: center;
}

.form {
    padding-top: 2em;
    width: 75vw;
    height: 800px;
    border: 0;
}

.mapcontainer {
    h1 {
        // padding-top: 1.2em;
        font-size: 14px;
        text-align: center;
    }
    .map {
        width: 100%;
        height: 550px;
        border: 0;
    }
    // margin-top: 8em;
    margin-inline: auto;
    width: 100vw;
    height: 650px;
}
.samfield {
    border: 0;
    height: 600px;
    width: 70vw;
}

.spacer {
    text-align: center;
    font-size: 22px;
    height: 3em;
}

.list {
    .numbers {
        font-weight: bold;
        color: #402f1c;
        font-size: 40px;
        padding-right: 0.6em;
    }
    line-height: 36px;
    text-align: center;
    font-family: $body-ff;
    padding-block: 2em;
    margin: auto;
    width: 75vw;
    font-size: 24px;
}
.hr {
    width: 75vw;
}
.a {
    color: rgb(0, 0, 131);
    text-decoration: underline;
}
.a:hover {
    color: rgb(153, 153, 235);
}